body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: linear-gradient(135deg, #000000, #000b14, #17011a);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: hsla(0, 0%, 7%, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.logo {
    display: inline-block;
    width: 500px;
    margin-right: 20px;
}

.logo img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00f;
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.hero-text {
    text-align: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    padding-bottom: 45px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

.hero-text h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: #fff;
}

.hero-text p {
    font-size: 1.5em;
    margin: 10px 0;
    color: #fff;
}

.cta-button {
    padding: 10px 20px;
    background: #00f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    position: relative;
    top: 20px;
}
.cta-button:hover {
    background: #0066cc;
}

section {
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

section h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.carousel {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    overflow: hidden;
    width: 100%; 
}

.carousel-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px; 
    transition: box-shadow 0.3s ease;
}

.carousel-item img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    opacity: 0.8; 
    transition: opacity 0.3s ease; 
}

.carousel-item:hover img {
    opacity: 1; 
}

.carousel-item-info {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: -50px; /* Move info below the image */
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 300px;
    text-align: left;
    z-index: 1; 
    opacity: 0; 
    transition: bottom 0.3s ease, opacity 0.3s ease, transform 0.3s ease; 
}

.carousel-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.carousel-item:hover .carousel-item-info {
    bottom: 0; 
    opacity: 1;
}



.view-details {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #00f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.view-details:hover {
    background: #0066cc;
}

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.category img {
    width: 50%;
    border-radius: 10px;
}

.view-more {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #00f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.view-more:hover {
    background: #0066cc;
}

#about {
    text-align: center;
}

.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    width: 200px;
    margin: 3%;
    text-align: center;
}

.team-member img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.masonry-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.masonry-item {
    flex: 1 1 calc(33.333% - 10px);
}

.masonry-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.masonry-item:hover img {
    transform: scale(1.1);
}

.testimonials-carousel {
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.testimonial {
    flex: none;
    width: 300px;
    margin: 0 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.customer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.customer img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #222;
    color: #fff;
}

form button {
    padding: 10px;
    background: #00f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #0066cc;
}

.social-media {
    text-align: center; 
    margin-top: 15px;
}

.social-media img {
    margin: 0 10px;
}

.social-media img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

footer {
    padding: 20px;
    text-align: center;
}

.quick-links a {
    color: #00f;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.quick-links a:hover {
    color: #0066cc;
}


.newsletter button {
    margin: 10px;
    padding: 10px;
    background: #00f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.newsletter button:hover {
    background: #0066cc;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeInUp 1s ease forwards;
}

#hero canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fade-in-initial {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.home {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.home-button {
    padding: 10px 20px;
    margin: 0 10px;
    background: #00f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.home-button:hover,
.home-button.active {
    background: #0066cc;
}

.gallery {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery-button {
    padding: 10px 20px;
    margin: 0 10px;
    background: #00f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.gallery-button:hover,
.gallery-button.active {
    background: #0066cc;
}

/* Image Pop-up */
.image-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    position: relative;
}

.popup-content img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

#model {
    margin-top: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.model-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 15%;
}

.model-image {
    flex: 3; 
    display: flex;
    justify-content: center;
}

.model-image img {
    max-width: 100%; 
    max-height: 100%;
    border-radius: 10px;
}

.model-description {
    flex: 3;
}

.model-description h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.model-description p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.model-description ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1.2em;
}

.model-description ul li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .logo {
        margin-bottom: 0; 
    }

    nav {
        display: none; 
    }

    .carousel-item-info {
        display: none;
    }

    .carousel   {
        flex-wrap: wrap;
        justify-content: center;
    }

    .carousel-item  {
        flex: 0 0 80%;
        margin-bottom: 20px;
    }

    .model-container {
        flex-direction: column; 
    }

    .model-image {
        flex: 1; 
    }

    .model-description {
        flex: 1; 
    }

    .masonry-grid   {
        flex-wrap: wrap;
        justify-content: center;
    }

    .masonry-item   {
        flex: 0 0 80%;
        margin-bottom: 20px;
    }

    .testimonials-carousel    {
        flex-wrap: wrap;
        justify-content: center;
    }

    .testimonial    {
        flex: 0 0 80%;
        text-align: center;
        margin-bottom: 20px;
    }
}